<div class="slider">
  <div class="image-container d-flex justify-content-center">
    <img [src]="images[currentIndex]" alt="Slider Image" class="img-fluid m-2 w-25 h-70 rounded-5 ">
  </div>
</div>

<div class="controls d-flex justify-content-center mt-3">
  <div>
    <button class="btn btn-primary m-2" (click)="next()">Next</button>
    <button class="btn btn-primary m-2" (click)="previous()">Previous</button>
  </div>
  <div>
    <button class="btn btn-success m-2" (click)="play()">Play</button>
    <button class="btn btn-danger m-2" (click)="stop()">Stop</button>
  </div>
</div>
