

<table>
  <div appShadow class="card m-2" style="width: 18rem;">
    <div class="card-body d-flex flex-column">
      <img src="{{product?.imageUrl}}" class="img-fluid  h-60 w-54 rounded-5 mb-3" alt="...">
      <h5 class="card-title " style="color: burlywood;">{{product?.name}}</h5>
      <p class="card-text">{{product?.description}}</p>
      <p>Price : {{product?.price}}</p>
      <p class="card-text">avilable : {{product?.quantity}}</p>

      <span class="badge bg-primary rounded-pill align-self-center">{{ count.value }}</span>

      <input #count type="range" class="form-range" min="1" [max]="product?.quantity" step="1" id="customRange3" >
    </div>
  </div>
</table>



